<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
    <script src="{{ '/assets/scripts/scripts.js' | relative_url }}" type="text/javascript"></script>
  </head>

  <div class="headerbar">
    <div class="container">
        <div class="row">
            <button type="button" class="navbar-toggle collapsed hidden-xs" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-list-bullets"></span>
            </button>
            <div class="logo">
                <a href="/">
                    <img src="https://via.placeholder.com/150x80" alt="" class="hidden-xs">
                    <span class="icon-dedicated-Cloud visible-xs"></span>
                </a>
            </div>
        </div>
    </div>
  </div>