<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8"/>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimal-ui">
    <meta name="google-site-verification" content="mSvQDj528SrivJO3707MQV4uw5aUBxBXMfO9FTZz_sI" />
    <meta name="msvalidate.01" content="581C4BBEDA8127FA57A7F2B93320F97F" />

    <title>{{ page.title }}</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
    <script src="{{ '/assets/scripts/jquery.matchheight.js' | relative_url }}" type="text/javascript"></script>
    <script src="{{ '/assets/scripts/scripts.js' | relative_url }}" type="text/javascript"></script>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16309361-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-16309361-1');
    </script>
  </head>

  <div id="page-top"></div>
  {% include navigation.html %}