{% if page.layout == 'default' %}
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <a class="navbar-brand page-scroll js-navbar-brand" href="#page-top">
          <span class="logo"></span>
          <span class="logo-text">David M. Auble</span>
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="menu-primary" class="nav navbar-nav">
          <li class="menu-item"><a class="js-scroll-nav" href="#who-i-am">About</a></li>
          <li class="menu-item"><a class="js-scroll-nav" href="#services">Services</a></li>
          <li class="menu-item"><a class="js-scroll-nav" href="#what-i-think">Blog</a></li>
          <li class="menu-item"><a class="js-scroll-nav" href="#clients">Work</a></li>
          <li class="menu-item"><a class="js-scroll-nav" href="#twitter">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
{% else %}
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">

        <a class="navbar-brand page-scroll" href="/">
          <span class="logo"></span>
          <span class="logo-text">David M. Auble</span>
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="menu-primary" class="nav navbar-nav">
          <li class="menu-item"><a href="/#who-i-am">About</a></li>
          <li class="menu-item"><a href="/#services">Services</a></li>
          <li class="menu-item"><a href="/blog.html">Blog</a></li>
          <li class="menu-item"><a href="/#clients">Work</a></li>
          <li class="menu-item"><a href="/#twitter">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
{% endif %}