.headerbar {
  background-color: #E98300;
  background-image: url(http://image.exct.net/lib/fe7415707664047c7015/m/1/lines.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding: 10px 10px;
}

@media screen and (min-width: 768px) {
  .headerbar {
    height: 100px;
    padding: 0;
  }
}

.main-banner {
  background: url('http://image.exct.net/lib/fe661570776d0d7e7414/m/1/home-hero-480.jpg') center top no-repeat;
  color: #FFF;
  min-height: 320px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0;
}

@media screen and (min-width: 480px) {
  .main-banner {
    background: url('http://image.exct.net/lib/fe661570776d0d7e7414/m/1/home-hero-768.jpg') center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .main-banner {
    background: url('http://image.exct.net/lib/fe661570776d0d7e7414/m/1/ET-Background2086-41614.jpg') center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.main-banner h1 {
  margin-bottom: 22px;
  font-size: 40px;
  font-weight: 700;
  margin-top: 0;
  padding: 0px 0 0 0;
}

.main-banner__logo {
  padding: 60px 0 40px;
  width: 50%;
  max-width: 390px;
}
  .tag_line {
    font-size: 30px;
    color: #4f4f4f;
    line-height: 1;
    display: block;
    max-width: 180px;
  }

  @media screen and (min-width: 480px) {
    .tag_line {
      padding-right: 15%;
    }
  }

  @media screen and (min-width: 768px) {
    .tag_line {
      font-size: 39px;
      max-width: none;
      padding-bottom: 20px;
    }
  }

  @media screen and (min-width: 520px) {
    .main-banner h1 {
      font-size: 40px;
    }
  }

  @media screen and (min-width: 768px) {

    .main-banner__logo {
      width: 100%;
    }

    .main-banner h1 {
      font-size: 70px;
      margin-top: 50px;
    }

    .main-banner__play-button {
      font-size: 40px;
    }
      .main-banner__play-button-icon {
        font-size: 60px;
        top: -10px;
      }
  }

.modal-dialog {
  margin-top: 10%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  /*margin-top: 10px;*/
  overflow: hidden;
}

.logo a {
  float: left;
}

.logo .icon-dedicated-Cloud {
  color: #fff;
  float: left;
  font-size: 36px;
}

.future-of-marketing-logo {
  float: left;
}

@media screen and (min-width: 456px) {
  .future-of-marketing-logo {
    border-left: 2px solid #fff;
    margin-left: 10px;
    max-width: 303px;
  }
}

@media screen and (min-width: 498px) {
  .future-of-marketing-logo {
    max-width: none;
  }
}

@media screen and (min-width: 768px) {
  .future-of-marketing-logo {
    clear: none;
    margin-left: 30px;
    margin-top: 10px;
  }
}

  .future-of-marketing-logo h1 {
    color: #fff;
    margin: 8px 10px;
  }

  @media screen and (min-width: 768px) {
    .future-of-marketing-logo h1 {
      margin-left: 30pxpx;
    }
  }

@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
  .hubexchange-logo {
    background: url('http://image.exct.net/lib/fe581570776d0d7f7d1c/m/1/hubexchange-badge@2x.png') 15px 4px no-repeat;
    background-size: 31px 31px;
  }
}

.hubexchange-logo img {
  display: none;
}

@media screen and (min-width: 768px) {
  .hubexchange-logo {
    clear: none;
    margin-left: 34px;
    margin-top: 16px;
    padding: 0px 0 0px 30px;
    background: none;
    width: auto;
    color: #ffffff;
  }
  .hubexchange-logo header {
    color: #FFF;
    margin-left: 38px;
    margin-top: 1px;
    font-size: 18px;
  }
  .hubexchange-logo img {
    display: block;
  }
}

.main-nav {
  background: #4f4f4f;
  overflow: hidden;
}
  .main-nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  .main-nav li {
    width: 100%;
  }
  .main-nav .container {
    padding: 0;
  }
  .main-nav a {
    color: #fff;
    display: block;
    padding: 15px;
    font-size: 16px;
  }
    .main-nav a:hover {
      background: #404040;
    }
    .main-nav a.active {
      background: #404040;
    }

    @media screen and (min-width: 768px) {
      .main-nav a {
        padding: 15px 25px;
      }
      .main-nav a.active {
        padding: 15px 25px 11px;
        border-bottom: 4px solid #E98300;
      }
      .main-nav li {
        float: left;
        width: auto;
      }
      .main-nav .container {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

.mobile-login-link {
  background: #009DDC;
}
.login-link {
  float: right;
  margin: 38px 0 0;
  color: #fff;
}
  .login-link a {
    color: #fff;
    margin-left: 5px;
    text-decoration: underline;
  }
  .login-link a:hover, .login-link a:active {
    text-decoration: none;
  }
.navbar-toggle {
  font-size: 35px;
  margin: 0;
  padding: 0 10px;
  color: #fff;
}
.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.secondary-nav {
  background: #959595;
  overflow: hidden;
  border-top: 1px solid #4f4f4f;
}
  .secondary-nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  .secondary-nav li {
    width: 100%;
  }
  .secondary-nav .container {
    padding: 0;
  }
  .secondary-nav a {
    color: #fff;
    display: block;
    padding: 15px;
    font-size: 16px;
  }
  .secondary-nav a:hover, .secondary-nav a.active {
    background: #808080;
  }
    @media screen and (min-width: 768px) {
      .secondary-nav {
        border-top: 0;
      }
      .secondary-nav a {
        padding: 15px 25px;
      }
      .secondary-nav a.active {
        padding: 15px 25px 11px;
        border-bottom: 4px solid #72C7E7;
      }
      .secondary-nav li {
        float: left;
        width: auto;
      }
      .secondary-nav .container {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

.footerbar {
  background: #F2F2F2;
  border-bottom: 5px solid #E98300;
  margin: 80px 0 15px 0;
  padding: 20px 0;
}
  .footerbar .footerbar__links {
    padding: 0;
  }

  .footerbar .footerbar__links li {
    list-style-type: none;
    float: left;
    font-size: 0.8em;
    padding-right: 10px;
  }

form {
  margin-bottom: 2em;
}

.image-text-callout {
  display: block;
  margin-bottom: 2em;
  position: relative;
}
  .image-text-callout img {
    width: 100%;
    max-width: 100%;
    border: 1px solid #CCC;
    border-bottom: 0;
  }

  .image-text-callout .image-text-callout--text {
    display: block;
    width: 100%;
    background: #4f4f4f;
    padding: 8px 15px;
    color: #fff;
  }
  .image-text-callout:hover .image-text-callout--text {
    background: #009DDC;
  }
  .image-text-callout--text span {
    font-size: 20px;
    padding-right: 8px;
    float: left;
    position: relative;
    top: -2px;
  }
    @media screen and (min-width: 768px) {
      .image-text-callout--text span {
        display: none;
      }
    }
  .image-text-callout--icon-category {
    position: absolute;
    top: 0;
    right: 0;
    background: #4f4f4f;
    padding: 2px 6px;
    color: #fff;
    font-size: 20px;
    display: none;
  }
    @media screen and (min-width: 768px) {
      .image-text-callout--icon-category {
        display: block;
      }
    }

.homepage-callouts {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .homepage-callouts {
    background: #4f4f4f;
    background: rgba(79, 79, 79, 0.7);
  }

  .homepage-callouts__container {
    margin: 0 auto;
    max-width: 1170px;
  }
}

  .homepage-callouts__row {
    background: #4f4f4f;
    background: rgba(79, 79, 79, 0.7);
    margin-bottom: 10px;
    padding: 20px 30px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    .homepage-callouts__row {
      background: none;
      display: inline-block;
      margin-bottom: 0;
      margin-right: -4px;
      width: 25%;
    }
  }

    .homepage-callouts__row.last {
      margin-bottom: 0;
    }

  .homepage-callouts__title {
    margin: 0 0 10px 0;
  }
  @media screen and (min-width: 768px) {
    h3.homepage-callouts__title {
      font-size: 1em;
    }
  }

  @media screen and (min-width: 992px) {
    h3.homepage-callouts__title {
      font-size: 1.4em;
    }
  }

  .homepage-callouts__btn {

  }

@media screen and (max-width: 520px) {
  .homepage-callouts .col-xs-6 {
    width: 100%;
  }
}

.video-player {
  padding-bottom: 56.25%;
  position: relative;
  margin: 1.5em 0 1em;
}
  .video-player iframe, .video-player object{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

.well ul, .well ol {
  padding-left: 18px;
}

.partner-steps {
  margin: 30px 0;
}
  .partner-steps h2 {
    margin-top: 0;
  }

@media screen and (max-width: 420px) {
  .partner-step-grid .col-xs-6{
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .image-text-callout.tall-text .image-text-callout--text {
    min-height: 62px;
  }
}

.image-text-callout-with-side-text {
  background: #f2f2f2;
  overflow: hidden;
  margin-bottom: 2em;
}
  .image-text-callout-with-side-text .image-text-callout {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    .image-text-callout-with-side-text .image-text-callout {
      display: inline-block;
      float: left;
      margin-bottom: 0;
    }
  }
  .image-text-callout-with-side-text p {
    padding: 20px 20px 10px;
  }
  @media screen and (min-width: 768px) {
    .image-text-callout-with-side-text p {
      padding: 20px 20px 0 0;
    }
  }

  .template-downloads .image-text-callout.tall-text .image-text-callout--text {
    height: auto;
    min-height: 0;
  }
    @media screen and (min-width: 992px) {
      .template-downloads .image-text-callout.tall-text .image-text-callout--text {
        min-height: 60px;
      }
    }
  .template-downloads .image-text-callout--text span {
    display: inline;
  }

  .template-downloads .image-text-callout--icon-category {
    display: none;
  }
  @media screen and (min-width: 992px) {
    .template-downloads .image-text-callout--icon-category {
      display: block;
    }
    .template-downloads .image-text-callout--text span {
      display: none;
    }
  }

.template-downloads .image-text-callout-with-side-text .image-text-callout {
  float: none;
  display: block;
}
  .template-downloads .image-text-callout-with-side-text p {
    padding: 20px 20px 10px;
  }

  @media screen and (min-width: 992px) {
    .template-downloads .image-text-callout-with-side-text p {
      padding: 20px 20px 0 0;
    }

    .template-downloads .image-text-callout-with-side-text .image-text-callout {
      display: inline-block;
      float: left;
    }
  }

.top-back-link {
  margin-top: 20px;
  display: inline-block;
}

label {
  font-size: 18px;
}
.help-block {
  color: #959595;
}
input[type="file"] {
  margin: 10px 0 16px;
}
.light-offset-bg {
  background: #f7f7f7;
  padding: 20px 0;
  margin: 20px 0;
}

.btn.btn-white {
  background-color: #ffffff;
  color: #E98300;
}
  .btn.btn-white:hover {
    background-color: #E98300;
    color: #ffffff;
  }

.well {
  border: 0;
  background: #F7F7F7;
  border-top: 10px solid #FFA100;
  padding-top: 0px;
  margin-top: 1.5em;

  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;

  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.panel-group {
  margin: 1.5em 0 1em;
}
.panel-title .accordion-btn {
  color: #fff;
  float: left;
  margin-top: 1em;
}
.accordion-toggle {
  position: relative;
  top: 3px;
  font-size: 20px;
  display: block;
}
.accordion-toggle span {
  position: relative;
  font-size: 22px;
  top: -2px;
}
  @media screen and (min-width: 768px) {
    .accordion-toggle {
      display: inline;
    }
    .panel-title .accordion-btn {
      margin-left: 20px;
      margin-top: 0;
      float: none;
    }
    .accordion-toggle span {
      top: 2px;
    }
  }


.panel-heading {
  overflow: hidden;
}

.text-overlay-image-callout {
  display: block;
  position: relative;
  margin-bottom: 2em;
}

  .text-overlay-image-callout__overlay {
    position: absolute;
    top: 50%;
    width: 100%;
    margin: -20% 0 0 -15px;
    text-align: center;
  }

  .text-overlay-image-callout__overlay h3 {
    padding: 0 20px;
    color: #fff;
    font-size: 1.5em;
  }

  @media screen and (min-width: 992px) {
    .text-overlay-image-callout__overlay {
      top: 40%;
    }

    .text-overlay-image-callout__overlay h3 {
      font-size: 1.2em;
    }
  }

  @media screen and (min-width: 1200px) {

    .text-overlay-image-callout__overlay h3 {
      font-size: 1.5em;
    }
  }

  .text-overlay-image-callout__overlay a {
    color: #ffffff;
  }

  .text-overlay-image-callout button {

  }

    .text-overlay-image-callout:hover h3 {
      background: #65CFE9;
      background: rgba(0,157,220,.45);
    }
  .text-overlay-image-callout img {
    max-width: 100%;
    width: 100%;
    border: 1px solid #cccccc;
  }

.vips {
  background-color: #f7f7f7;
  padding: 40px 0 0;
}
  .vips h2 {
    font-size: 25px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
  }

.vip {
  overflow: hidden;
  margin-bottom: 2em;
}
  .vip__image {
    width: 30%;
    float: left;
    margin-right: 2em;
    padding-bottom: 20px;
  }

@media screen and (min-width: 768px) {
  .vips h2 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
  }

  .vip__image {
    width: 100%;
    float: none;
    margin-right: 0;
  }
}

.marketers__logo {
  margin-bottom: 30px;
  width: 100%;
}
  .marketers__logo img {
    width: 100%;
  }

@media screen and (min-width: 768px) {
  .col-sm-2.stretch {
    width: 19.96667%;
  }
}

@media screen and (min-width: 992px) {
  .centered {
    margin-left: 12.5%;
  }
}

.marketers {
  padding: 40px 0 0;
}
  .marketers h2 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;
    margin: 0;
  }

    @media screen and (min-width: 768px) {
      .marketers h2 {
        font-size: 40px;
      }
    }

.registration {
  background-color: #f7f7f7;
  padding: 32px 0;
  margin-top: 32px;
}

  .registration__response {
    display: none;
  }

  .registration__venue {
    margin-bottom: 32px;
  }

    .registration__venue img {
      display: block;
      width: 100%;
    }

  .registration__map {
    position: relative;
  }
    .registration__map iframe {
      width: 100%;
      height: 16em;
    }

    .registration__map img {
      display: block;
      width: 100%;
    }

    .registration__map__button {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0 30px 23px 0;
    }

.agenda dt {
  text-align: left;
  font-weight: 400;
}
.agenda dd {
  margin-bottom: 10px;
}

  @media screen and (min-width: 768px) {
    .dl-horizontal dt {
      width: 170px;
    }
    .agenda dt {
      font-weight: 400;
    }
    .agenda dd {
      margin-bottom: 0;
    }
  }

.jumbotron.main-banner {
  padding: 0;
}

.homepage_intro {
  margin: 0;
  padding: 40px;
  max-width: 330px;
}
  .homepage_intro p {
    color: #4f4f4f;
  }

@media screen and (min-width: 480px) {
  .homepage_intro {
    max-width: 330px;
  }
}

@media screen and (min-width: 768px) {
  .homepage_intro {
    margin: 0 auto;
    max-width: 1170px;
    padding-right: 0;
  }
  .homepage_intro h1 {
    padding-right: 20%;
  }
  .homepage_intro p {
    padding-right: 33%;
  }
}

.jumbotron {
  padding: 60px 30px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 100px 30px;
  }
}

  .jumbotron.los-angeles {
    background: url('http://image.exct.net/lib/fe661570776d0d7e7414/m/1/los-angeles-v2.jpg') center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .jumbotron.san-francisco {
    background: url('http://image.exct.net/lib/fe661570776d0d7e7414/m/1/san-francisco.jpg') center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .jumbotron.new-york-city {
    background: url('http://image.exct.net/lib/fe661570776d0d7e7414/m/1/new-york-city-update.jpg') center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .jumbotron.chicago {
    background: url('http://image.exct.net/lib/fe661570776d0d7e7414/m/1/chicago.jpg') center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.jumbotron h1 {
  color: #4f4f4f;
}

.interior_heading {
  color: #fff !important;
}

.marketing-header {
  background-color: #F7F7F7;
  padding: 40px 0;
  margin-bottom: 0;
}

.bio {
        padding-top: 40px;
}
  .bio__title {
    padding-bottom: 10px;
  }
    .bio__image {
      width: 100%;
      max-width: 263px;
    }
    .bio__name {
      margin-bottom: 0;
    }

  @media screen and (min-width: 600px) {
    .bio .col-sm-3 {
      width: 25%;
      float: left;
    }
    .bio .col-sm-9 {
      width: 75%;
      float: left;
    }
  }