$off-white: #f8f8f8;
$dark-gray: #232323;
$green: #009bdf;
$dark-green: #007fb6;
$creme: #bebebe;
$teal: #009bdf;
$white: #fff;
$paragraph-gray: #6a6a6a;

$color-white: #fff;
$color-blue: #009bdf;
$color-gray: #f8f8f8;
$color-dark-blue: #23527c;
$color-green: #64C733;