---
layout: blog
title: Blog
---

{% include header.html %}

  <div class="jumbotron main-banner">

    <div class="row homepage_intro">
      <!-- <div class="col-md-11"> -->
        <h1>Future of Marketing Tour</h1>
        <span class="tag_line">Power Your Customer Journeys</span>
        <p class="hidden-xs">Today's marketers recognize consumer attention is hard to get and they can't leave their success to chance. In this half-day event you'll learn how you create conversations, build communities, and establish loyalty through every step of the customer journey. Discover how you can connect with your customers in a whole new way.</p>
      <!-- </div> -->
    </div> <!-- / .homepage_intro -->

    <div class="row homepage-callouts">

      <div class="homepage-callouts__container">

        <div class="homepage-callouts__row">
          <h3 class="homepage-callouts__title"><strong>Los Angeles</strong><br />Tuesday, June 10th</h3>
        </div>

        <div class="homepage-callouts__row">
            <h3 class="homepage-callouts__title"><strong>San Francisco</strong><br />Thursday, June 12th</h3>
        </div>

        <div class="homepage-callouts__row">
          <h3 class="homepage-callouts__title"><strong>New York City</strong><br />Tuesday, June 17th</h3>
        </div>

        <div class="homepage-callouts__row last">
          <h3 class="homepage-callouts__title"><strong>Chicago</strong><br />Thursday, June 19th</h3>
        </div>

      </div> <!-- / .homepage-callouts__container -->

    </div> <!-- / .homepage-callouts -->

  </div> <!-- / .jumbotron.main-banner -->

  <div class="vips">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <h2>All Posts:</h2>
        </div>
      </div>

      <div class="row">
        {% for post in site.posts %}
          <div class="col-xs-12 col-sm-3">
            <div class="vip">
              <h3>{{ post.title }}</h3>
              <p class="vip__caption">
                {{ post.excerpt }}
              </p>
              <a href="{{ post.url }}" class="btn btn-default homepage-callout__btn">Read More</a>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% include footer.html %}