---
layout: default
---

{% include header.html %}

<section class="hero">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-xs-12">
        <div class="hero-background vb--home" data-parallax="scroll">
          <div class="hero-background__contain">
            <h1 class="hero-background__contain__title">Hey, I'm David.</h1>
            <h4 class="hero-background__contain__subtitle">I'm an Indianapolis-based web developer doing my part in
              helping keep the Internet beautiful</h4>

            <a href="#services" class="btn btn-primary js-scroll-nav">See what I do</a>
          </div>

          <div class="intro-banner"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="who-i-am" class="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Meet David</h2>
        <p>I'm just a local web geek who's passionate about pixel-perfect designs, cutting-edge trends and flashy
          widgets. I strive for excellence in every website I do, whether it's a simple WordPress site or custom content
          management system.</p>
        <p>Having been in the industry for over 10 years, I'd like to think I know a thing or two about the Internet.
          I'm usually wrong, as I'm always learning something new, fun or exciting and always enjoy adding new features
          to sites.</p>
        <p>I try to find the blend of sleek designs and compliment them with light CMS systems that are easy to set up
          and maintain. I'm always doing something new and am constantly learning. I've begun a new aspect, involving
          implementing best search engine optimization practices.</p>
      </div>
    </div>
  </div>
</section>

<section id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Services</h2>
      </div>
    </div>

    <div class="row">
      <div class="service">
        <div class="service__item">
          <h3>
            <i class="fa fa-code" aria-hidden="true"></i>&nbsp;
            Web Development
          </h3>
          <br>
          <p>HTML, CSS, JavaScript. These are just a few of the languages I use to build highly-customized, advanced
            websites for the modern web. Websites are backwards compatible to two latest versions of Internet Explorer
            and will work on any platform.</p>
        </div>

        <div class="service__item">
          <h3>
            <i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;
            Responsive Design
          </h3>
          <br>
          <p>By taking a mobile-first approach to building websites, all websites I build are guaranteed to scale on any
            device. Responsive websites are ranked higher with top search engines and provide a higher level of
            engagement.</p>
        </div>

        <div class="service__item">
          <h3>
            <i class="fa fa-bitbucket" aria-hidden="true"></i>&nbsp;
            Version Control
          </h3>
          <br>
          <p>All of my code is kept in the cloud. This means easy backups and restore points in the event of an outage.
            All code is logged, each change is carefully documented, providing an extensive outline of your website.</p>
        </div>

        <div class="service__item">
          <h3>
            <i class="fa fa-code" aria-hidden="true"></i>&nbsp;
            Custom CMS Development
          </h3>
          <br>
          <p>WordPress, ExpressionEngine and Craft CMS. All of these are brilliant content management systems, enabling
            you to manage your website with ease. Pick a platform and I can work build you a highly-customized,
            lightweight website that loads quickly and scales easily.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="what-i-think" class="blog">
  <div class="container">
    {% for post in site.posts limit:1 %}
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>{{ post.title }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <img src="{{ post.image }}" alt="" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <p>{{ post.content | strip_html | truncatewords:50 }}</p>
        <a href="{{ post.url }}" class="btn btn-secondary">Continue reading</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section id="clients" class="clients">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <h2>Who I've Worked With</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 logos">
        <div class="logos__logo">
          <img src="/assets/images/iuhealth.svg" alt="" class="clients__logo img-responsive">
        </div>
        <div class="logos__logo">
          <img src="/assets/images/lilly.png" alt="" class="clients__logo img-responsive">
        </div>
        <div class="logos__logo">
          <img src="/assets/images/salesforce.png" alt="" class="clients__logo" height="88">
        </div>
        <div class="logos__logo">
          <img src="/assets/images/anthem.svg" alt="" class="clients__logo img-responsive">
        </div>
        <div class="logos__logo">
          <img src="/assets/images/loyola.svg" alt="" class="clients__logo img-responsive">
        </div>
        <div class="logos__logo">
          <img src="/assets/images/marian.svg" alt="" class="clients__logo img-responsive">
        </div>
        <div class="logos__logo">
          <img src="/assets/images/neu.svg" alt="" class="clients__logo img-responsive">
        </div>
        <div class="logos__logo">
          <img src="/assets/images/xavier.svg" alt="" class="clients__logo img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}