---
layout: default
title: Home
---

{% include header.html %}


  <div class="jumbotron main-banner">

    <div class="row homepage_intro">
      <!-- <div class="col-md-11"> -->
        <h1>New title</h1>
        <span class="tag_line">This is a subheadline</span>
        <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet cursus sit amet dictum sit amet justo donec. Volutpat diam ut venenatis tellus in metus. Sed nisi lacus sed viverra tellus in hac habitasse platea. Sapien eget mi proin sed libero enim.</p>
      <!-- </div> -->
    </div>

  </div> <!-- / .jumbotron.main-banner -->

  <div class="vips">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <h2>Recent Posts:</h2>
        </div>
      </div>

      <div class="row">
        {% for post in site.posts limit:4 %}
          <div class="col-xs-12 col-sm-3">
            <div class="vip">
              <h3>{{ post.title }}</h3>
              <p class="vip__caption">
                {{ post.excerpt | strip_html | truncatewords:25 }}
              </p>
              <a href="{{ post.url }}" class="btn btn-default homepage-callout__btn">Read More</a>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Data from JSON:</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <table class="table">
            {% for track in site.data.tracks.tracks %}
              <tr>
                <td>ID: {{ track.id }}</td>
                <td>Title: {{ track.title }}</td>
                <td>Name: {{ track.name }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
{% include footer.html %}